
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// $font-family-sans-serif: "Raleway", sans-serif;
// $font-family-sans-serif: "Lora", serif;
$font-family-sans-serif: 'Lato', serif;
$font-size-base: 14px;
$line-height-base: 1.6;
// $text-color: #636b6f;
$text-color: #666666;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Colors
$white: #e2fbff;
$black: #2e4249;
$blue: #007ac9;
$red: #ef5352;
$orange: #ff7700;
$green: #1ab394;
$gold: #aa6708;
$skyblue: #01b5d5;
$lightwhite: #e2fbff;
$lightpurple: #677d95;
$darkblue: #1A3048;
$darkblack: #1E1E22;
$grey: #d3e0e9;
$pink: #f83c7b;
$darkgrey: #8492af;
$yellow: #cbb956;
$lightgrey: #a7b1c2;

// Colors Hover
$skyblue_hover: #0090aa;
$orange_hover: #f8ac59;
