
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Lora:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
// @import "fonts";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/*****************************
* Reset *
*****************************/
ul, li {
	list-style: none;
}

ul {
	padding-left: 0;
}


/*****************************
* Front end of the main site *
*****************************/
body {
  padding-top: 50px;
}

// Checkbox
.checkbox {
	.ck {
		border: 1px solid $lightgrey;
		display: inline-block;
		position: relative;
		border-radius: 0.25em;
		width: 1.3em;
		height: 1.3em;
		float: left;
		margin-right: 0.5em;
		margin-top: 0.15em;
		.ck-icon {
			position: absolute;
			top: 50%;
			left: 8%;
			font-size: 0.9em;
			line-height: 0;
		}
	}
}

.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox label input[type="checkbox"] {
	display: none;
}

.checkbox label input[type="checkbox"]+.ck>.ck-icon {
	opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.ck>.ck-icon {
	opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.ck {
	opacity: 0.5;
}

// Buttons
.btn-skyblue {
	background: $skyblue;
	color: $white;
}
.btn-skyblue:hover {
	background: $skyblue_hover;
	color: $white;
}

.btn-new {
	background: $orange;
	color: $white;
}
.btn-assigned {
	background: $lightpurple;
	color: $white;
}
.btn-in-progress {
	background: $blue;
	color: $white;
}
.btn-pending {
	background: $yellow;
	color: $white;
}
.btn-resolved {
	background: $green;
	color: $white;
}
.btn-closed {
	background: $grey;
	color: $white;
}

.status-new {
	color: $orange;
}

.status-assigned {
	color: $lightpurple;
}

.status-in-progress {
	color: $blue;
}
.status-pending {
	color: $yellow;
}
.status-resolved {
	color: $green;
}
.status-closed {
	color: $grey;
}

// Colors
.darkblue {
	color: $darkblue;
}

.black {
	color: $black;
}

// Margin
.margin-top {
	margin-top: 20px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.no-padding {
	padding: 0;
}

.bold {
	font-weight: bold;
}

.table-hover > tbody > tr.critical {
	background-color: #fad0da;
}

.table-hover > tbody > tr.high {
	background-color: #ffffcc;
}

// Backgrounds
.transp_000_95 {
	background: rgba(70,70,70,0.95);
}

.alert-success {
	color: $black;
}

.navbar-nav li.register {
	background: $darkblue;
}

.navbar-nav li.register a {
	color: $white;
}
.navbar-nav li.register a:hover {
	background: $darkblack;
	color: $lightwhite;
}

.navbar, .block-footer, footer {
	font-family: "Lora", serif;
}

.jumbotron {
	color: $white;
	background: linear-gradient(143deg, #26c8dc 0%, #08b0e3 100%);
	font-family: 'Lato', sans-serif;
	margin-bottom: 0;
}
.jumbotron h1 {
	margin-bottom: 22px;
	font-weight: 300;
}
.jumbotron p {
	font-weight: normal;
	font-size: 22px;
	color: $lightwhite;
}

.block-sign h2 {
	color: $black;
}
.block-sign .text {
	color: $skyblue;
	font-size: 18px;
}
.block-sign .text span {
	margin-left: 10px;
}

.open_video_btn {
	cursor: pointer;
}
.video_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2000;
}
.video_overlay #video_player_div {
	display: block;
	width: 750px;
	height: 460px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -280px 0 0 -365px;
}
body.overlay {
	overflow: hidden;
}

.block-marketing {
	padding: 26px 0;
	font-family: 'Lato', sans-serif;
}

.block-features {
	background: #1E1E22;
	color: $lightwhite;
	padding: 3rem 0 5rem 0;
}
.block-features .title {
	color: $lightwhite;
	line-height: 1.35;
	padding-bottom: 30px;
}
.block-features .text-container {
	margin: 0 30px;
}
.block-features .text {
	font-size: 18px;
	font-weight: 300;
}

.block-industry .title {
	color: #2e4249;
	padding-bottom: 24px;
}

.block-industry .text-container {
	padding-top: 16px;
}

.block-industry .text {
	font-size: 20px;
	font-weight: 300;
}

.block-industry .text, .block-industry .image-container {
	color: #2e4249;
}

.block-trial {
	background: $darkblue;
	color: $white;
}

.block-trial .text {
	font-size: 20px;
	font-weight: 300;
}

.block-trial .text-container {
	padding-top: 10px;
}

.block-trial .button-container {
	margin-top: 20px;
}

.block-footer {
	background: $darkblack;
	padding: 48px 0 18px 0;
}

.block-footer .title {
	font-size: 20px;
	margin-bottom: 10px;
	color: $lightwhite;
}

.block-footer a {
	color: $skyblue;
}

.block-footer a:hover {
	color: $skyblue_hover;
	text-decoration: none;
}

.block-footer ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

footer {
	color: $lightwhite;
	background: $darkblack;
	padding-top: 18px;
	padding-bottom: 36px;
}

.fa.fa-4 {
	font-size: 4em;
}
.fa.fa-6 {
	font-size: 5em;
}
.fa.fa-6 {
	font-size: 6em;
}

// Pricing Page
.banner-container {
	position: relative;
	font-family: 'Lato', sans-serif;
}

.banner-container img {
	width: 100%;
	max-height: 490px;
}

.banner-container .text-container {
	position: absolute;
	top: 34%;
	left: 50%;
	color: $lightwhite;
}

.content-pricing .banner-container .text-container {
	margin-left: -270px;
}

.content-features .banner-container .text-container {
	margin-left: -384px;
}

.banner-container .title {
	font-weight: 300;
}

.banner-container .text {
	font-size: 20px;
	padding-top: 14px;
}

.content-pricing .plans {
	padding: 50px 0 28px 0;
	font-family: 'Lato', sans-serif;
}

.plans .panel-title {
	font-size: 22px;
	font-weight: 700;
	color: $black;
}

.plans .panel-default > .panel-heading {
	height: 150px;
}

.plans .panel-heading, .plans .panel-body {
	padding: 22px 15px;
}

.plans .price-content {
	margin-top: 26px;
}

.plans .currency {
	font-size: 20px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: top;
}

.plans .price {
	font-size: 50px;
	margin-right: 8px;
	line-height: 0.9;
}

.plans .price-description {
	display: inline-block;
	vertical-align: top;
	width: 130px;
	line-height: 1.2;
	font-size: 13px;
	font-weight: 300;
}

.plans .list-items .list-title {
	color: $blue;
	margin-bottom: 8px;
}

.plans .list-items ul {
	list-style: none;
	padding: 0;
}

.plans .list-items .text {
	margin-left: 5px;
	font-weight: 300;
}

.plans .list-items i {
	font-size: 16px;
	color: $skyblue;
}

.plans .panel-body {
	height: 206px;
	position: relative;
}

.plans .sign-up .btn {
	width: 89%;
	position: absolute;
	left: 15px;
	bottom: 15px;
	text-transform: uppercase;
}

.faq-section {
	margin-bottom: 20px;
}
.faq-section .content {
	background: #fff;
	font-family: 'Lato', sans-serif;
	padding-top: 10px;
	padding-bottom: 25px;
}

.faq-section .heading {
	font-size: 22px;
	color: $black;
}

.faq-section .title {
	color: $black;
	font-size: 20px;
	font-weight: 300;
}

.faq-section .faq-description {
	margin: 10px 0;
}

.faq-section ul {
	padding: 0;
	list-style: none;
	margin-top: 20px;
}

.faq-section ul li {
	margin-bottom: 25px;
	padding: 15px 10px;
	box-shadow: 0 0 2px 0 rgba(13,26,44,.12), 0 1px 1px 0 rgba(13,26,44,.24);
	position: relative;
}

.faq-section ul li:hover {
	box-shadow: 0 1px 2.91px 0.09px rgba(13,26,44,.16), 0 10px 18px 0 rgba(13,26,44,.24);
	cursor: pointer;
}

.faq-section .accordion-arrow {
	position: absolute;
	font-size: 20px;
	top: 14px;
	right: 18px;
	color: $blue;
}

.content-features .block-features {
	padding: 5rem;	
}

.content-features .block-features.first, .content-features .block-features.third {
	background: #fff;
	color: $black;
}

.content-features .block-features.first .title, .content-features .block-features.third .title {
	color: $black;
}

.content-features .block-features.third {
	background: $grey;
}


.content-register {
	background-repeat: no-repeat;
}

.content-register .panel {
	margin: 44px 0;
	border-radius: 0;
}

.content-register h2 {
	font-weight: 700;
}

.content-register .panel-heading {
	padding: 22px 0;
}

.content-register .panel-body {
	padding-top: 30px;
}

.content-register .form-horizontal .control-label {
	color: $black;
	font-weight: 400;
}

.content-register button[type=submit] {
	text-transform: uppercase;
}


@media screen and (max-width: $screen-sm) {
	.jumbotron {
		margin-bottom: 5px;
	}
}

// End front end of the main site



/*****************************
* CSS for App *
*****************************/

body#app {
	padding-top: 0;
}

.sidebar {
	background: $darkblue;
	padding-left: 0;
	padding-right: 0;
}

.sidebar a {
	color: #fff;
}

.sidebar .nav > li {
	height: 49px;
}

.sidebar .nav > li > a {
	height: 100%;
}

.sidebar .nav > li > a {
	padding: 10px 20px;
	border-left: 5px solid transparent;
}

.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus, .sidebar .nav > li.active > a {
	background: $blue;
	border-left: 5px solid $skyblue_hover;
}

.sidebar .nav > li > a > span {
	margin-left: 8px;
}

.navbar-toggle {
	float: left;
	background: $darkblue;	
}

.navbar-toggle .icon-bar {
	background: #fff;
}

.navbar-top {
	min-height: 50px;
}

.main .nav-wrap {
	background: #fff;
	border-bottom: 1px solid $grey;
}

.nav-links {
	margin-bottom: 0;
}

.nav-links .btn {
	min-width: 100px;
	border-radius: 12px;
}

.btn i {
	margin-right: 5px;
}

.nav-links > li {
	display: inline-block;
}

.nav-links li.dropdown > a {
	display: block;
	min-height: 50px;
	padding: 20px 10px;
}

.m-b-n-sm {
	margin-bottom: -10px;
}

.m-t-n-sm {
	margin-top: -4px;
}

.m-l-sm {
	margin-left: 10px;
}

.name-init {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	border-radius: 50%;
	text-align: center;
}

.dropdown-menu {
	left: inherit;
	right: 0;
}

.badge.up {
	position: absolute;
	top: 20%;
	right: -3px;
	background: $skyblue;
}

/*****************************
* Dashboard *
*****************************/

.dashboard-content {
	padding: 30px 0 20px 0;
	color: $black;
}

.dashboard-content .panel-heading .title {
	font-weight: bold;
	display: inline-block;
}

.number, .round {
	width: 30px;
	height: 30px;
	background: $blue;
	color: #fff;
	border-radius: 50%;
	display: inline-block;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
}

.dashboard-content a {
	color: $black;
	&:hover {
		color: $blue;
		text-decoration: none;
	}
}

.dashboard-content .panel-heading .number {
	margin-top: 5px;
}

.dashboard-content .time {
	font-size: 13px;
	color: $darkgrey;
	&.delay {
		color: $pink;
	}
	&.priority-urgent {
		color: $red;
	}
	&.priority-warning {
		color: $gold;
	}
}

.dashboard-content .time .text {
	margin-left: 3px;
}

.dashboard-content .panel-body li:not(:first-child), .dashboard-content .panel-body li:not(:last-child) {
	padding: 15px 0;	
}

.dashboard-content .panel-body li:not(:last-child) {
	border-bottom: 1px solid $grey;
}

.dashboard-content .panel-body li:first-child {
	padding-top: 0;
	padding-bottom: 15px;
}

.dashboard-content .panel-body li:last-child {
	padding-top: 15px;
	padding-bottom: 0;
}

.dashboard-content .subject {
	height: 24px;
	overflow: hidden;
}

.dashboard-tab {
	.nav-tabs > li > a {
		
	}
}

.page-heading {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 18px;
}

.main-content-wrap {
	padding: 30px 0 20px 0;
}

.filter-search select.form-control {
	height: 30px;
}

select[multiple] {
	max-height: 120px;
}

form label {
	font-weight: 400;
}

form.delete-action {
	display: inline-block;
}

label.role-permission {
	min-width: 108px;
}

.form-group.required .control-label:after {
	content: "*";
	color: $skyblue;
	position: absolute;
	right: 2px;
}

form {
	&.filter-search {
		padding-bottom: 18px;
		.form-group {
			margin-right: 10px;
		}
		.form-control {
			font-size: 12px;
			font-family: "Lora", serif;
			font-weight: bold;
		}
	}
}

.btn.more-tickets {
	margin-left: 2px;
	margin-bottom: 2px;
}

.text-desc {
	ul {
		margin-left: 20px;
	}
	ul, li {
		list-style: inherit;
	}
}

/*****************************
* Project Task *
*****************************/
.panel-default > .panel-heading {
	&.bg-info {
		background-color: $skyblue;
		color: $white;
	}
	&.bg-danger {
		background-color: $red;
		color: $white;
	}
	&.bg-warning {
		background-color: $orange;
		color: $white;
	}
	&.bg-success {
		background-color: $green;
		color: $white;
	}
}

.tasks {
	.list-tasks {
		min-height: 36px;
	}
}

.tasks .profile img {
    max-width: 25px;
}

.tasks ul li {
	padding: 10px 0;

	&:not(:last-child) {
		border-bottom: 1px solid #ddd;
	}

	.task-name {
		font-size: 12px;
	    font-weight: bold;
	    margin-bottom: 4px;
	    cursor: pointer;
	    color: $blue;
	    display: inline-block;
	    &:hover {
	    	color: $skyblue;
	    }
	}

	.task-created-at, .user {
		font-size: 11px;
	}

	.profile {
		margin-bottom: 4px;
	}

	.action {
		.schedule-name {
			font-size: 10px;
    		color: $lightgrey;
		}
		.btn-xs {
			font-size: 11px;
		}
	}
}

/*****************************
* Project Planning *
*****************************/
.plan-list {
	.left-side, .right-side {
		height: 62px;
	}
	.left-side {
		border: 2px solid $grey;
	}
	.right-side {
		border-top: 2px solid $grey;
		border-right: 2px solid $grey;
		border-bottom: 2px solid $grey;
	}

	.photo, .user, .toggle {
		display: inline-block;
		float: left;
	}
	.photo {
		padding-top: 10px;
		margin-right: 12px;
		width: 40px;
		text-align: center;
		img {
			height: 40px;
			width: 40px;
			vertical-align: inherit;
		}
	}
	.user {
		padding-top: 8px;
	}
	.toggle {
		height: 60px;
		line-height: 54px;
		font-size: 24px;
		margin-right: 12px;
		color: $lightgrey;
		width: 12px;
		cursor: pointer; 
	}
	.username, .task-name {
		font-weight: bold;
		font-size: 15px;
		color: $black;
	}
	.role, .schedule-label {
		color: $lightgrey;
	}

	.slot {
		height: 50px;
		border: 1px solid $grey;
		vertical-align: middle;
		display: inline-block;
		line-height: 44px;
		text-align: center;
		font-weight: bold;
		font-size: 11px;
		color: $darkgrey;

		&.black {
			color: $black;
		}

		.available {

		}
		.fully-allocated {

		}
		.over-allocated {

		}
	}


	.project-name {
		color: $lightgrey;
	}
}

.planning-pagination {
	.btn i {
		margin: 0;
	}
}


/*****************************
* Ajax Loader *
*****************************/
.ajax-loader {
    background-color: rgba(229,229,229, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3000;
}
.ajax-loader .loading-indicator {
    position: absolute;
    top: 50%;
    left:  50%;
}

.ui-autocomplete {
    z-index:2147483647;
}


#add-file.btn {
    margin-top: 8px;
    margin-bottom: 4px;
}

/*****************************
* Ticket Comments *
*****************************/
.comment-list {
	.item {
		padding-bottom: 8px;
		border-bottom: 1px solid $body-bg;
	}
}

/*****************************
* Settings *
*****************************/
.nav > .panel-nav-heading {
	padding: 16px 15px 4px 15px;
	color: $darkgrey;
	text-transform: uppercase;
	&:not(:first-child) {
		border-top: 1px solid $grey;
	}
}

#access_form {
	.panel-heading {
		border-color: $grey;
	}
	.page-heading {
		font-size: 16px;
	}
}

.section-heading {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 6px;
	padding-bottom: 2px;
	color: $darkblue;
}

.current-plan {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid $grey;
	border-radius: 3px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.usage-summary {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (min-width: 768px) {
	
	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.sidebar .brand {
		height: 60px;
		display: block;
		padding-left: 22px;
		line-height: 52px;
		font-size: 18px;
	}

	.sidebar .brand:hover {
		text-decoration: none;
	}

}

/*********************************/
/*This is for contact*/
/*********************************/
section#contact{margin: auto;background-image:url(/images/pricing-bg.jpg);background-position:center;background-repeat:no-repeat}
section#contact .section-heading{color:#fff}
section#contact .form-group{margin-bottom:25px}
section#contact .form-group input,
section#contact .form-group textarea{padding:20px}
section#contact .form-group input.form-control{height:auto}
section#contact .form-group textarea.form-control{height:242px}
section#contact .form-control:focus{border-color:#fed136;box-shadow:none}
section#contact ::-webkit-input-placeholder{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb}
section#contact :-moz-placeholder{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb}
section#contact ::-moz-placeholder{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb}
section#contact :-ms-input-placeholder{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb}
section#contact .text-danger{color:#ff0000}

/*********************************/
/*This is for contact*/
/*********************************/

// End Css for App
